<%- include('./includes/main-template-upper.ejs') %>
<a href="https://www.w3schools.com/xml/ajax_xmlhttprequest_response.asp">W3School HTTP Request Status</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">All Possible Status Code</a>
<a href="https://jsonplaceholder.typicode.com/">JSON Placeholder</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers">HTTP Headers</a>
<button id="text">Request Text</button>
<button id="json">Request JSON</button>
<button id="xml">Request XML</button>
<button id="html">Request HTML</button>
<button id="api">Request API</button>
<button id="get">GET POSTS</button>
<button id="post">POST A POST</button>
<button id="put">PUT A POST</button>
<button id="patch">PATCH A POST</button>
<button id="delete">DELETE A POST</button>

<div id="target"></div>
<script src="/js/ajax.js" defer></script>
<script src="/js/moreOnAjaxAndAPI.js" defer></script>

<%- include('./includes/main-template-bottom.ejs') %>